/* main structure */
.main-container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 5px;
}
.introduction-cont{
    border: 2px solid black;
    margin:2px;
    width: 96%;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}
.experience-cont{
border: 2px dotted blue;
    margin: 2px;
    width: 70%;
}
.skills-cont{
    border: 2px ridge red;
        margin: 2px;
        width: 25%;
}

/* Introduction template*/
.intro-basic{
    width: 58%;
    order: 1;
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    height: 180px;
}
.intro-contacts{
    width: 38%;
    order:2;
}
.intro-summary{
    width: 96%;
    order: 3;
}
.intro-photo{
    width: 200px;    
    border-radius: 30px; 
    height: 100%;   
    object-fit: cover;
}