/* extra info*/
@font-face {
    font-family: mainFont;
    src: url(font/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: mainFontBold;
    src: url(font/Ubuntu-Bold.ttf);
}
* {
    font-family: mainFont;
    color: #757574;
}
body{
    background-color: #141414;
}
/* main structure */
.main-container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 5px;
}
.introduction-cont{
    margin:2px;
    width: 900px;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    background-color: #282828;
    box-shadow: 1px 1px 7px 2px rgba(252, 245, 232, 0.75);
}
.experience-cont{
    margin: 2px;
    width: 600px;
    padding: 5px;
    background-color: #282828;
    box-shadow: 1px 1px 7px 2px rgba(252, 245, 232, 0.75);
}
.skills-cont{
        margin: 2px;
        width: 300px;
    background-color: #282828;
    box-shadow: 1px 1px 7px 2px rgba(252, 245, 232, 0.75);
}

/* Introduction template*/
.intro-basic{
    width: 500px;
    order: 1;
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    height: 200px;
}
.intro-contacts{
    width: 380px;
    order:2;
    margin: 10px;
}
.intro-summary{
    width: 96%;
    order: 3;

}

.intro-summary p{
    text-indent: 20px;
    text-align: justify;
}
.intro-photo{
    margin: 10px;
    width: min(200px, 30%);    
    border-radius: 30px; 
    height: max(200px, 100%);   
    object-fit: cover;
    box-shadow: 1px 1px 7px 2px rgba(252, 245, 232, 0.75);
}

.intro-basic h1{
    text-transform: uppercase;
    font-family: mainFontBold;
    font-size: larger;
    margin-top: 40px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #FCF5E8;
}
.intro-basic h4{
    font-family: mainFontBold;
    color: #619CC2;
    margin-top: 0px;
    padding-top: 0px;
}
/*contact info template*/
.property{
    text-align: right;
    padding-right: 10px;
    font-family: mainFontBold;
    color: #FCF5E8;
}
a{
    color: #619CC2;
}